<body><div class="topnav">
  <a href="">Home</a>
  <a href="rep">Replenishment</a>
  <a class="active" href="cards">Payment</a>
  <a href="send">Tranfer Money</a>
  <a href="Account">Account Details</a>
  <a href="history">History</a>
  <button >Log out</button>
</div>
<hr>
<br>
<br>


<div class="list">
<div class="card">
 <img src="assets/mobile.jpg" alt="Denim Jeans" style="width:100%">
<!--  <h1>Phone Number</h1>-->
  <p style="color:white;" class="price">Phone Number</p>
<!--  <p>Some text about the jeans..</p>-->
  <p><button ><a style="color:white;" href="payment">Pay</a></button></p>
</div>
<div class="card" >
  <img  src="assets/onay.png" alt="" style="width:100%">
  <!--  <h1>Phone Number</h1>-->
    <p style="color:white;" class="price">Onay</p>
  <!--  <p>Some text about the jeans..</p>-->
  <p><button ><a style="color:white;" href="payment">Pay</a></button></p>
</div>
<div class="card">
  <img src="assets/internet.jpg" alt="" style="width:100%">
<!--    <h1>Internet</h1>-->
    <p style="color:white;" class="price">Internet</p>
  <!--  <p>Some text about the jeans..</p>-->
  <p><button ><a style="color:white;" href="payment">Pay</a></button></p>
</div>
</div>
</body>
