<body>
<div class="topnav">
  <a  href="">Home</a>
  <a href="rep">Replenishment</a>
  <a class="active" href="cards">Payment</a>
  <a href="send">Tranfer Money</a>
  <a href="Account">Account Details</a>
  <a href="history">History</a>
  <button (click)="loqout()">Log out</button>
</div>
<hr>
<br>
<br>

<div class="sss">
<h2 style="text-align: center;">Payment</h2>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> Product Number</label>
      <input type="text"  name="Number" placeholder="Number..">
      <label for="amount">Amount</label>
      <input type="text" class="form-control" placeholder="Amount.." id="amount" required [(ngModel)]="rep.amount" name="amount">
    </div>

    <button  type="submit" class="btn btn-success pay">Pay</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div></div>
</body>
