<body><div class="panel panel-default">
  <div class="panel-heading">
    <div class="topnav">
      <a class="active" href="">Home</a>
      <a href="rep">Replenishment</a>
      <a href="cards">Payment</a>
      <a href="send">Tranfer Money</a>
      <a href="Account">Account Details</a>
      <a href="history">History</a>
      <button (click)="loqout()">Log out</button>

    </div>
  </div>
<!--  <div class="panel-body">-->
<!--    <table class="table table-striped table-bordered">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Amount</th>-->
<!--        <th>Card</th>-->
<!--        <th>USerId</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let rep of rep | async">-->
<!--        <td>{{rep.id}}</td>-->
<!--        <td>{{rep.amount}}</td>-->
<!--        <td>{{rep.cardNumber}}</td>-->
<!--        <td>{{rep.userID}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
</div><hr><br>
<img src="assets/bank.png" style="margin-left:400px; width:40%">
<!--<div class="reps">-->
<!--  <div *ngIf="reps">-->
<!--    <h1>Id {{reps.id}}</h1>-->
<!--    <p>Name : {{reps.amount}}</p>-->
<!--    <p>{{reps.cardNumber}}</p>-->
<!--    <button (click)="addAmount(reps.id)">Catalog</button>-->
<!--  </div>-->
<!--</div>-->
</body>
